#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: #ffffff;
		border: 0;
		color: #000000;
		padding: 16px 20px;
		text-transform: uppercase;
		cursor: pointer;
    min-width: 20%;
    min-height: 8%;
    font-size: 20pt;
	}
  
.entrypoint-label-col {
  border-radius: 250px 0 0 250px;
  height: 100%;
  justify-content: end;
}

.entrypoint-label-col-left{
  border-radius: 0 250px 250px 0;
  height: 100%;
  justify-content: start;
}

.about-upper-left-corner{
  border-radius: 0 0 150px 0;
  height: 100%;
  justify-content: start;
}
.about-lower-left-corner{
  border-radius: 0 250px 0 0;
  min-height: 250px;
  justify-content: start;
}

.black-nav-element{
  background-color: black;
  color: #ffea00;
  font-family: "Ultra";
  text-align: center;
  display:flex;
  align-items: center;
  text-decoration: none; 
  //justify-content: center;
  font-size: 150%;
  padding-right: 30px;
  padding-left: 30px;
  > a, > a:hover {
    text-decoration: none;
    color: #ffea00;
  }
  span {
    text-decoration: none;
  }
}
a .black-nav-element:hover{
  background-color: #115;
}

img.total-stereo-logo {
  max-height: 10em;
}

.carousel-item img {
  height: 250px;
  width: 330px;
}

.container.index .row, .container.show .row,
.container.about .row,.container.about-collection .row,{
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5{
  font-family: "Ultra";
}

.btn.btn-stereo {
  background-color: black;
  color: #ffea00;
  border-radius: 5em;
}